
$header-bg:         #00246d; 
$footer-bg:         #212224; 
$bread-bg:          #e9e9e9; 
$bread-arrow:       #888888;
$foot-heading:      #15a612;
$f-head-before:     #555555;
$arrow-color:       #0540d3;
$f-arrow-color:     #c37b2b;
$sidebar-active:    #f0f8ff;
$pagination-active: #00246d;
$read-more:           #016D26;

$even:              #f0f8ff;
$odd:               #ffffff;

$white:             #ffffff;
$black:             #000000;
$text-color:        #333333;
$search-bdr:        #aaaaaa;
$card-bdr:          #cccccc;
$color1:            #5f73e6;
$color2:            #8a98eb;
$service-bg:        #F1F1F1;
$input-brd:        #808080;
$card-brd:          #cccccc;
$footer-title:       #00FAD8;



